<div *ngIf="displayValue,else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Employee SubContractor</b>
            </ng-template>
            <div class="view-container">
                <div class="row my-1">
                    <div class="my-label">
                        EmpCode :
                    </div>
                    <div class="my-value">
                        {{displayValue.EmpCode || "-"}}
                    </div>

                    <div class="my-label">
                        Name :
                    </div>
                    <div class="my-value">
                        {{displayValue.Title || "-"}} {{displayValue.NameThai || "-"}}
                    </div>

                </div>

                <div class="row my-1">
                    <div class="my-label">
                        Employee Type :
                    </div>
                    <div class="my-value">
                        {{displayValue.TypeEmployeeString || "-"}}
                    </div>

                    <div class="my-label">
                        Employee Group :
                    </div>
                    <div class="my-value">
                        {{displayValue.GroupName || "-"}}
                    </div>
                </div>

                <div class="row my-1">
                    <div class="my-label">
                        Employee Group Mis :
                    </div>
                    <div class="my-value">
                        {{displayValue.GroupMisName || "-"}}
                    </div>
                </div>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>
