<div *ngIf="editValue; else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Require OverTime</b>
            </ng-template>
            <div class="edit-container mx-3">
                <form [formGroup]="editValueForm">
                    <div class="my-form">
                        <label for="OverTimeDate" class="my-label">Date-OverTime:</label>
                        <div class="col-sm-4">
                            <!--<p-calendar formControlName="OverTimeDate" [showIcon]="true" required
                        appendTo="body"
                        id="OverTimeDate" dateFormat="dd/mm/yy" placeholder="  Choose a date"
                        [disabled]="CanEditInRequiredOnly">
            </p-calendar>-->
                            <p-calendar formControlName="OverTimeDate" [showIcon]="true" required
                                        appendTo="body"
                                        id="OverTimeDate" dateFormat="dd/mm/yy" placeholder="  Choose a date">
                            </p-calendar>
                            <span class="is-request-date">**</span>
                            <validation-messages [control]="editValueForm.controls.OverTimeDate"></validation-messages>
                        </div>

                        <label for="RequireString" class="my-label">Require By:</label>
                        <div class="col-sm-4">
                            <input type="text" class="my-input" placeholder="Choose employee who require overtime"
                                   (click)="onEmployeeRequireClick()" style="cursor:pointer;"
                                   id="RequireString" formControlName="RequireString" required readonly>
                            <validation-messages [control]="editValueForm.controls.RequireString"></validation-messages>
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="GroupMisString" class="my-label">GroupMis:</label>
                        <div class="col-sm-4">
                            <input type="text" class="my-input" placeholder="Choose group mis"
                                   (click)="onEmployeeGroupMisClick()"
                                   style="cursor:pointer;"
                                   id="GroupMisString" formControlName="GroupMisString" readonly required>
                        </div>
                        <!-- <label for="GroupString" class="my-label">GroupName:</label>
        <div class="col-sm-4">
            <input type="text" class="my-input" placeholder="Choose group "
                    (click)="onEmployeeGroupClick()" style="cursor:pointer;"
                    id="GroupString" formControlName="GroupString" required readonly>
            <validation-messages [control]="editValueForm.controls.GroupString"></validation-messages>
        </div> -->

                        <label for="ProjectMasterString" class="my-label">JobNumber:</label>
                        <div class="col-sm-4">
                            <input type="text" class="my-input" placeholder="Choose job number require overtime"
                                   (click)="onProjectMasterClick()" style="cursor:pointer;"
                                   id="ProjectMasterString" formControlName="ProjectMasterString" required readonly>
                            <validation-messages [control]="editValueForm.controls.ProjectMasterString"></validation-messages>
                        </div>
                    </div>

                    <div class="my-form">
                        <label class="my-label"></label>
                        <div class="col-sm-4"></div>
                        <label class="my-label"></label>
                        <div class="col-sm-4">
                            <i class="text-danger" style="font-size:smaller;">{{canNotSave}}</i>
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="TypeCode" class="my-label">Activity Code:</label>
                        <div class="col-sm-4">
                            <p-dropdown class="my-input-combobox" [options]="typeCode" filter="filter" [style]="{'width':'100%'}"
                                        [appendTo]="body"
                                        id="TypeCode" formControlName="TypeCode" required>
                            </p-dropdown>
                            <validation-messages [control]="editValueForm.controls.TypeCode"></validation-messages>
                        </div>

                        <label for="BomCode" class="my-label">Bom Code:</label>
                        <div class="col-sm-4">
                            <input type="text" class="my-input" placeholder="Choose Bom Code Level2"
                                   (click)="onBomClick()" style="cursor:pointer;"
                                   id="BomCode" formControlName="BomCode" required readonly>
                            <validation-messages [control]="editValueForm.controls.BomCode"></validation-messages>
                        </div>
                    </div>
<!--
<div class="my-form">
    <label class="my-label"></label>
    <div class="col-sm-4">
        <i class="text-danger" style="font-size:smaller;">
            ระบบไม่จำเป็นต้องเลือกกลุ่ม MIS ระบบจัดการข้อมูลจำนวนชั่วโมงงานตามกลุ่ม MIS อยู่แล้ว เฉพาะบางกลุ่มที่ต้องการแยกเท่านั้น
        </i>
    </div>
</div>
-->
                    <div class="my-form">
                        <label for="HiddenText" class="my-label">Only welded:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" placeholder="Insert welded to group"
                                      id="HiddenText" formControlName="HiddenText"
                                      rows="2" [readonly]="CanEditInRequiredOnly">
                            </textarea>
                            <validation-messages [control]="editValueForm.controls.HiddenText"></validation-messages>
                        </div>

                        <label for="LocationCode" class="my-label">Location:</label>
                        <div class="col-sm-4">
                            <p-dropdown class="my-input-combobox" [options]="location" filter="filter" [style]="{'width':'100%'}"
                                        [appendTo]="body"
                                        id="LocationCode" formControlName="LocationCode" required>
                            </p-dropdown>
                            <validation-messages [control]="editValueForm.controls.LocationCode"></validation-messages>
                        </div>
                    </div>

                    <hr />
                    <div class="my-form">
                        <label class="my-label">Last OverTime-Date:</label>
                        <div class="col-sm-4" *ngIf="lastOverTimeMaster?.OverTimeMasterId">
                            {{(lastOverTimeMaster?.OverTimeDate | date:'dd/MM/yyyy') || '-'}}
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="LastInfoPlan" class="my-label">Last-Plan:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" [value]="lastOverTimeMaster?.InfoPlan || '-'"
                                      placeholder="Information of last plan for overtime"
                                      id="LastInfoPlan"
                                      rows="4" readonly>
                            </textarea>
                        </div>

                        <label for="InfoPlan" class="my-label">Plan:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" placeholder="Insert plan for overtime here"
                                      id="InfoPlan" formControlName="InfoPlan"
                                      rows="4" [readonly]="CanEditInRequiredOnly">
                            </textarea>
                            <validation-messages [control]="editValueForm.controls.InfoPlan"></validation-messages>
                        </div>
                    </div>

                    <div class="my-form">
                        <label for="LastInfoActual" class="my-label">Last-Actual:</label>
                        <div class="col-sm-4">
                            <textarea class="my-input" [value]="lastOverTimeMaster?.InfoActual || '-'"
                                      placeholder="Information of last actual for overtime"
                                      id="LastInfoActual"
                                      rows="4" readonly>
                            </textarea>
                        </div>

                        <label for="InfoActual" class="my-label" *ngIf="editValueForm.controls.OverTimeStatus.value !== 1">
                            Actual:
                        </label>
                        <div class="col-sm-4" *ngIf="editValueForm.controls.OverTimeStatus.value !== 1">
                            <textarea class="my-input" placeholder="Insert actual for overtime here"
                                      id="InfoActual" formControlName="InfoActual"
                                      rows="4">
                            </textarea>
                            <validation-messages [control]="editValueForm.controls.InfoActual"></validation-messages>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>List of Employee</b>
            </ng-template>
            <div class="edit-container">
                <div class="edit-form-content" style="margin-bottom:5px;">
<!--
    <div class="col-sm-1">
        <button type="button" mat-icon-button color="primary" (click)="onChooseEmployeeToOverTime(1)"
                matTooltip="New Employee by group" style="float:left">
            <i class="fa fa-2x fa-group" aria-hidden="true"></i>
        </button>
    </div>
-->
                    <div class="col-sm-1" style="border-right:solid;" 
                         *ngIf="editValueForm?.controls?.GroupMIS?.value && editValueForm?.controls?.LocationCode?.value">
                        <button type="button" mat-icon-button color="warn" (click)="onChooseEmployeeToOverTime(2)"
                                matTooltip="New Employee by group mis" style="float:left">
                            <i class="fa fa-2x fa-group" aria-hidden="true"></i>
                        </button>
                    </div>
                    <label class="ml-2 col-form-label col-form-label-sm">Default Hour:</label>
                    <div class="col-2">
                        <input type="number" class="my-input" placeholder="Default Hour" [(ngModel)]="defaultHour">
                    </div>
<!--
    <button (click)="onChooseEmployeeToOverTime()" mat-raised-button style="float:left">
        <i class="fa fa-get-pocket" aria-hidden="true"></i>
        <span>New Employee OverTime</span>
    </button>
-->
                    <div class="form-check col-2">
                        <input class="form-check-input mx-0 p-0" type="checkbox" id="inlineCheckbox1" [(ngModel)]="showStartOT">
                        <label class="form-check-label ml-3 p-0" for="inlineCheckbox1">โอทีเข้างานแบบ กะ</label>
                    </div>
                    <div class="col-6 text-danger">
                        ** Weekday(mon-sat) OT start 17:00 ,Weekend(sun) & Holiday OT start 08:00
                    </div>
                </div>
                <ngx-datatable class="material"
                               [rows]="editValue.OverTimeDetails"
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="0"
                               [rowHeight]="50"
                               [scrollbarV]="true"
                               [scrollbarH]="true"
                               [style.height]="'calc(100vh - 220px)'">
                    <ngx-datatable-column name="Employee Code" prop="EmpCode" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Employee Name" prop="EmployeeString" [width]="200"></ngx-datatable-column>

                    <ngx-datatable-column name="StartTime" prop="StartOverTime" [width]="100">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                            <input autofocus (blur)="updateValue($event, 'StartOverTime', rowIndex)"
                                   type="number" min="0" max="24"
                                   name="StartOverTime" class="my-input"
                                   [value]="value" [disabled]="!showStartOT" [readonly]="CanEditInRequiredOnly" />
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Hour" prop="TotalHour" [width]="100">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                            <input autofocus (blur)="updateValue($event, 'TotalHour', rowIndex)"
                                   type="number" min="0"
                                   name="TotalHour" class="my-input"
                                   [value]="value" [disabled]="CanEditInRequiredOnly" />
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Remark" prop="Remark" [width]="150">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                            <input autofocus (blur)="updateValue($event, 'Remark', rowIndex)"
                                   type="text"
                                   name="Remark" class="my-input"
                                   [value]="value" [disabled]="CanEditInRequiredOnly" />
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" prop="StatusString" [width]="100" [cellClass]="getCellClass"></ngx-datatable-column>
                    <ngx-datatable-column [width]="175" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button (click)="onRemoveOverTimeDetailOrCancelOverTimeDetail(row)" color="warn">Remove</button>
                            <button mat-button (click)="onRemoveOverTimeDetailOrCancelOverTimeDetail(row,1)"
                                    color="accent" *ngIf="row?.OverTimeDetailId">
                                Cancel
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>