<div class="master-container">
    <div *ngIf="!onloadReport;else LoadBlock">
        <div class="child-col-container">
            <h4>OverTime Schedule </h4>

            <form [formGroup]="reportForm" class="form-content">
                <div>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" formControlName="Filter" placeholder="Insert require machine code to filter"
                           style="width:250px;" matTooltip="Selected training">
                </div>

                <div>
                    <i class="fa fa-chain" aria-hidden="true"></i>
                    <p-dropdown [options]="proMasters" formControlName="ProjectMasterId" [filter]="true" matTooltip="Selected job number."
                                [style]="{'width':'250px'}" placeholder="Filter by job number">
                    </p-dropdown>
                </div>

                <div>
                    <i class="fa fa-chain" aria-hidden="true"></i>
                    <p-dropdown [options]="empGroups" formControlName="GroupCode" [filter]="true" matTooltip="Selected group of employee"
                                [style]="{'width':'250px'}" placeholder="Filter by group of employee">
                    </p-dropdown>
                </div>
                <div>
                    <button type="button" mat-mini-fab color="warn" (click)="resetFilter()"
                            matTooltip="Reset all filter" style="margin:4px;">
                        <i class="fa fa-2x fa-minus" aria-hidden="true" style="margin:0px;"></i>
                    </button>
                </div>
            </form>

            Reload data in {{message}} sec.
            <div style="width:98%;">
                <mat-progress-bar color="primary" [value]="count" mode="determinate">
                </mat-progress-bar>
            </div>
        </div>
        <div class="bottom-container my-2">
            <p-dataTable [value]="overtimeMasters" sortField="JobNumber" rowGroupMode="rowspan"
                         [lazy]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
                         [totalRecords]="totalRecords" (onLazyLoad)="loadDataLazy($event)"
                         scrollable="true" scrollWidth="94vw">
                <p-column *ngFor="let column of columns" [field]="column.field" [styleClass]="column.styleclass"
                          [header]="column.header" [style]="column.style" [sortable]="true">
                    <ng-template *ngIf="column.isCol" let-col let-data1="rowData" pTemplate="body">
                        <ul>
                            <li *ngFor="let master of data1[col.field];index as i;">
                                <i class="fa fa-search" (click)="onSelectOverTimeMaster(master.OverTimeMasterId)"
                                   style="cursor:pointer;color:steelblue;">
                                    {{i + 1}}.{{master.GroupCode}}
                                </i>
                            </li>
                        </ul>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>

<ng-template #LoadBlock>
    <overtime-report [OverTimeMasterId]="overTimeMaster.OverTimeMasterId" (Back)="onBackPrint($event)"></overtime-report>
</ng-template>