<div class="control-item">
    <button type="button" mat-icon-button color="primary" (click)="onPrintOverTimeMaster()"
            style="margin:5px;">
        <i class="fa fa-3x fa-print" aria-hidden="true" style="margin:0px;"></i>
    </button>

    <form [formGroup]="optionScheduleForm" class="control-item">
        <p-dropdown class="my-input-combobox" [options]="reportOption"
                    [style]="{'width':'100%'}" appendTo="body"
                    formControlName="ModeReport">
        </p-dropdown>
        &nbsp;&nbsp;
        <p-calendar [showIcon]="true" appendTo="body"
                    dateFormat="dd/mm/yy" placeholder="  Choose a date"
                    formControlName="SDate">
        </p-calendar>
    </form>
</div>

<div *ngIf="overTimeSummary;else noDataBlock" class="report-box" id="printdiv">
    <div *ngIf="optionSchedule.ModeReport === 1;else ElseBlock">
        <overtime-report-summary-bydate [overTimeSummary]="overTimeSummary" [SummaryDate]="optionSchedule.SDate">
        </overtime-report-summary-bydate>
    </div>
    <ng-template #ElseBlock>
        <overtime-report-summany-byworkshop [overTimeSummary]="overTimeSummary" [SummaryDate]="optionSchedule.SDate">
        </overtime-report-summany-byworkshop>
    </ng-template>
</div>
<ng-template #noDataBlock>
    <div *ngIf="onLoad" class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
