<div class="master-container">
    <div *ngIf="!loadReport;else LoadBlock">
        <split direction="horizontal" [gutterSize]="7" [visibleTransition]="true">
            <split-area [size]="35" [visible]="hideleft" [order]="1">
                <div class="child-left-container">
                    <!--<mat-checkbox [(ngModel)]="OnlyMe"> Filter Only User </mat-checkbox>-->
                    <data-table (selected)="onDetailView($event)" [columns]="columns"
                                [isDisabled]="false" [(onlyUser)]="onlyUser">
                    </data-table>
                </div>
            </split-area>
            <split-area [size]="65" [order]="2">
                <div class="child-container">
                    <!--Left-->
                    <div class="left-content">
                        <div class="hide-table my-2" (click)="hideleft = !hideleft" matTooltip="Hide/Show Table" matTooltipPosition="right">
                        </div>
                    </div>
                    <!--Center-->
                    <div class="center-content">
                        <div class="card-body">
                            <!--Component-->
                            <div *ngIf="displayValue || ShowEdit; else elseBlock">
                                <div *ngIf="!ShowEdit; else detailEdit">
                                    <overtime-view [displayValue]="displayValue"></overtime-view>
                                </div>
                                <ng-template #detailEdit>
                                    <overtime-edit></overtime-edit>
                                </ng-template>
                            </div>
                            <ng-template #elseBlock>
                                <!--Title-->
                                <h4 class="card-title text-info">
                                    Require OverTime
                                </h4>
                                <h5 class="text-muted">
                                    Selected data from list to show information or new data
                                </h5>
                            </ng-template>
                        </div>
                    </div>
                    <!--Right-->
                    <div class="right-content">
                        <button type="button" mat-icon-button color="accent" (click)="onDetailEdit()"
                                [disabled]="ShowEdit" matTooltip="Create new" matTooltipPosition="left">
                            <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" mat-icon-button color="accent" (click)="onDetailEdit(displayValue)"
                                [disabled]="ShowEdit || DisplayDataNull" matTooltip="Edit" matTooltipPosition="left">
                            <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                        </button>
                        <hr />
                        <button type="button" mat-icon-button color="warn" (click)="onCancelEdit()"
                                [disabled]="!ShowEdit" matTooltip="Cancel" matTooltipPosition="left">
                            <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
                        </button>
                        <button type="button" mat-icon-button color="primary" (click)="onSubmit()"
                                [disabled]="!canSave" matTooltip="Save" matTooltipPosition="left">
                            <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
                        </button>
                        <hr />
                        <button type="button" mat-icon-button color="accent" (click)="reporPdf(displayValue)"
                                [disabled]="ShowEdit || DisplayDataNull || loadReport" matTooltip="Report" matTooltipPosition="left">
                            <i class="fa fa-2x fa-file-pdf-o" aria-hidden="true"></i>
                        </button>

                        <div *ngIf="!DisableChange">
                            <button type="button" mat-icon-button color="accent" (click)="onChangeStatus(displayValue)"
                                    [disabled]="DisableChange || DisplayDataNull" matTooltip="Change Status" matTooltipPosition="left">
                                <i class="fa fa-2x fa-adjust" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </split-area>
        </split>
    </div>
</div>
<ng-template #LoadBlock>
    <overtime-report [OverTimeMasterId]="OverTimeMasterId" [previewOnly]="preViewOnly" (Back)="loadReport = !loadReport"></overtime-report>
</ng-template>