<div *ngIf="editValue; else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Require Machine Master</b>
            </ng-template>
            <div class="edit-container-row">
                <div class="edit-left-content-column">
                    <button type="button" mat-icon-button color="primary" (click)="onShowMachineSchedule()"
                            style="margin:4px;" matTooltip="Show machine schedule"
                            [disabled]="!(jobCardDetail.JobCardMaster && editValueForm.controls.PlannedStartDate.value)">
                        <i class="fa fa-2x fa-calendar-o" aria-hidden="true" style="margin:0px;"></i>
                    </button>
                </div>
                <div class="edit-center-content">
                    <div *ngIf="jobCardDetail">
                        <div class="my-form">
                            <label for="JobMasterNoString" class="my-label">Require/McNo :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.JobMasterNoString"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="JobMasterNoString" readonly>
                            </div>
                            <label for="TypeMachineString" class="my-label">Type Machine:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.TypeMachineString"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="TypeMachineString" readonly>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="FullNameString" class="my-label">Job Level2/3 :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.FullNameString"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="FullNameString" readonly>
                            </div>
                            <label for="CuttingPlanString" class="my-label">CuttingPlan/ShopDrawing:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.CuttingPlanString"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="CuttingPlanString" readonly>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="StandardTimeString" class="my-label">StandardTime :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.StandardTimeString"
                                       (click)="onStandardTimeClick()" placeholder="Click to selected require machine"
                                       id="StandardTimeString" readonly>
                            </div>
                            <label for="Material" class="my-label">Material :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.Material"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="Material" readonly>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="Quality" class="my-label">Quantity :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.Quality"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="Quality" readonly>
                            </div>
                            <label for="UnitsMeasureString" class="my-label">Uom :</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" [value]="jobCardDetail.UnitsMeasureString"
                                       (click)="onSelectJobCardDetail()" placeholder="Click to selected require machine"
                                       id="UnitsMeasureString" readonly>
                            </div>
                        </div>
                    </div>
                    <hr class="w-100" />
                    <form [formGroup]="editValueForm">
                        <div class="my-form">
                            <label for="TaskMachineName" class="my-label">Task Code:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input" placeholder="Code will automatically generated."
                                       id="TaskMachineName" formControlName="TaskMachineName"
                                       readonly>
                                <validation-messages [control]="editValueForm.controls.TaskMachineName"></validation-messages>
                            </div>

                            <label for="Description" class="my-label">Description:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input" placeholder="Insert code for description here"
                                       id="Description" formControlName="Description">
                                <validation-messages [control]="editValueForm.controls.Description"></validation-messages>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="TotalQuantity" class="my-label">Quantity:</label>
                            <div class="col-sm-4">
                                <input type="number" class="my-input" min="0"
                                       id="TotalQuantity" formControlName="TotalQuantity" readonly>
                                <validation-messages [control]="editValueForm.controls.TotalQuantity"></validation-messages>
                            </div>

                            <label for="CurrentQuantity" class="my-label">Production:</label>
                            <div class="col-sm-4">
                                <input type="number" class="my-input" min="0" placeholder="Insert production number here"
                                       id="CurrentQuantity" formControlName="CurrentQuantity">
                                <validation-messages [control]="editValueForm.controls.CurrentQuantity"></validation-messages>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="PlannedStartDate" class="my-label">PlannedStart:</label>
                            <div class="col-sm-4">
                                <p-calendar formControlName="PlannedStartDate" [showIcon]="true"
                                            id="PlannedStartDate" dateFormat="dd/mm/yy" placeholder="  Choose a date"
                                            appendTo="body"
                                            [maxDate]="editValueForm.controls.PlannedEndDate.value">
                                </p-calendar>
                                <span class="is-request-date">**</span>
                                <validation-messages [control]="editValueForm.controls.PlannedStartDate"></validation-messages>
                            </div>

                            <label for="PlannedEndDate" class="my-label">PlannedEnd:</label>
                            <div class="col-sm-4">
                                <p-calendar formControlName="PlannedEndDate" [showIcon]="true"
                                            id="PlannedEndDate" dateFormat="dd/mm/yy" placeholder="  Choose a date"
                                            appendTo="body"
                                            [minDate]="editValueForm.controls.PlannedStartDate.value">
                                </p-calendar>
                                <span class="is-request-date">**</span>
                                <validation-messages [control]="editValueForm.controls.PlannedEndDate"></validation-messages>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="ActualStartDate" class="my-label">ActualStart:</label>
                            <div class="col-sm-4">
                                <p-calendar formControlName="ActualStartDate" [showIcon]="true"
                                            id="ActualStartDate" dateFormat="dd/mm/yy" placeholder="  Choose a date"
                                            appendTo="body"
                                            [minDate]="editValueForm.controls.PlannedStartDate.value"
                                            [maxDate]="editValueForm.controls.ActualEndDate.value">
                                </p-calendar>
                                <validation-messages [control]="editValueForm.controls.ActualStartDate"></validation-messages>
                            </div>

                            <label for="ActualEndDate" class="my-label">ActualEnd:</label>
                            <div class="col-sm-4">
                                <p-calendar formControlName="ActualEndDate" [showIcon]="true"
                                            id="ActualEndDate" dateFormat="dd/mm/yy" placeholder="  Choose a date"
                                            appendTo="body"
                                            [minDate]="editValueForm.controls.ActualStartDate.value">
                                </p-calendar>
                                <validation-messages [control]="editValueForm.controls.ActualEndDate"></validation-messages>
                            </div>
                        </div>

                        <div class="my-form">
                            <label for="AssignedByString" class="my-label">AssignedBy:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" placeholder="Choose employee assigned here"
                                       (click)="onSelectedAssignedBy()"
                                       id="AssignedByString" formControlName="AssignedByString" readonly>
                                <validation-messages [control]="editValueForm.controls.AssignedByString"></validation-messages>
                            </div>

                            <label for="MachineString" class="my-label">MachineNo:</label>
                            <div class="col-sm-4">
                                <input type="text" class="my-input-click" placeholder="Choose machine here"
                                       (click)="onSelectedMachine()"
                                       id="MachineString" formControlName="MachineString" required readonly>
                                <validation-messages [control]="editValueForm.controls.MachineString"></validation-messages>
                                <span class="text-danger" [innerHTML]="messageMachine"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-tab>
        <!--<mat-tab>
            <ng-template mat-tab-label>
                <b>Over-Time</b>
            </ng-template>
            <div *ngIf="!overTime;else editDetail" class="edit-container">
                <div style="margin-bottom:5px;">
                    <button (click)="onNewOrEditOverTime()" mat-raised-button style="float:left">
                        <i class="fa fa-get-pocket" aria-hidden="true"></i>
                        <span>Add OverTime</span>
                    </button>
                </div>
                <ngx-datatable class="material"
                               [rows]="editValue.TaskMachineHasOverTimes"
                               [columnMode]="'flex'"
                               [headerHeight]="50"
                               [footerHeight]="0"
                               [rowHeight]="50"
                               [scrollbarV]="true"
                               [style.height]="'calc(100vh - 214px)'">
                    <ngx-datatable-column name="OT/Date" prop="OverTimeDate" [pipe]="datePipe" [flexGrow]="1"></ngx-datatable-column>
                    <ngx-datatable-column name="Hour" prop="OverTimePerDate" [flexGrow]="1"></ngx-datatable-column>
                    <ngx-datatable-column name="Employee" prop="NameThai" [flexGrow]="1"></ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button (click)="onNewOrEditOverTime(row)" color="accent">Edit</button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="1" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button mat-button (click)="onRemoveOverTime(row)" color="warn">Remove</button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <ng-template #editDetail>
                <div class="m-2" style="border:1px solid #e16958">
                    <over-time-edit (ComplateOrCancel)="onComplateOrCancel($event)"
                                    [EditValueOverTime]="overTime"
                                    [machineId]="editValueForm.controls.MachineId.value"
                                    [minDate]="editValueForm.controls.ActualStartDate.value"
                                    [maxDate]="editValueForm.controls.ActualEndDate.value">
                    </over-time-edit>
                </div>
            </ng-template>
        </mat-tab>-->
        <mat-tab *ngIf="attachFiles">
            <ng-template mat-tab-label>
                <b>Attach File</b>
            </ng-template>
            <div class="edit-container mx-3">
                <div *ngIf="attachFiles.length > 0">
                    <table class="table table-hover table-sm small">
                        <colgroup>
                            <col span="1" style="width: 80%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of attachFiles; let num2 = index">
                                <td (click)="onOpenNewLink(file.FileAddress)" style="cursor:pointer;">
                                    {{num2 + 1}}. {{file.FileName}}
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-sm btn-danger" matTooltip="Remove Attach File" (click)="onDeleteAttachFile(file)">
                                            <em class="fa fa-remove"></em>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>