<!--<nav-menu></nav-menu>
<div class="container-fluid">
    <div class="mt-3 h-100">
        <router-outlet></router-outlet>
    </div>
</div>-->

<div class="app-layout">
    <div *ngIf="!option; else elseBlock">
        <main-screen (SelectApp)="SelectApp($event)"></main-screen>
    </div>
    <ng-template #elseBlock>
        <div class="navigation">
            <div *ngIf="option == 'machine'; else elseNav">
                <nav-menu></nav-menu>
            </div>
            <ng-template #elseNav>
                <navmenu-overtime></navmenu-overtime>
            </ng-template>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</div>