<div class="master-container w-100 h-100">
    <hr class="w-100" />
    <div class="mx-auto" >
        <h3 style="color:steelblue;">Please Selected Application.</h3>
    </div>
    <hr class="w-100"/>
    <div class="center-content">
        <div class="center-page">
            <div class="mx-1">
                <button mat-fab color="primary" (click)="onClickOption('machine')"
                        style="height:200px;width:200px" matTooltip="Open VIPCO Machine System application">
                    <mat-icon svgIcon="machine" style="height:150px;width:150px;margin:auto"></mat-icon>
                </button>
            </div>
            <div class="mx-1">
                <button mat-fab color="warn" (click)="onClickOption('overtime')"
                        style="height:200px;width:200px" matTooltip="Open VIPCO Overtime System application">
                    <mat-icon svgIcon="overtime" style="height:150px;width:150px;margin:auto"></mat-icon>
                </button>
            </div>
            <div class="mx-1">
                <button mat-fab (click)="onClickOption('qualitycontrol')"
                        style="height:200px;width:200px;background-color:maroon;" matTooltip="Open VIPCO QualityControl System application">
                    <mat-icon svgIcon="qualitycontrol" style="height:150px;width:150px;margin:auto"></mat-icon>
                </button>
            </div>
        </div>
        <div class="center-page my-1">
            <div class="mx-1">
                <button mat-fab color="accent" (click)="onClickOption('paint')"
                        style="height:200px;width:200px" matTooltip="Open VIPCO Paint System application">
                    <mat-icon svgIcon="paint" style="height:150px;width:150px;margin:auto;"></mat-icon>
                </button>
            </div>
            <div class="mx-1">
                <button mat-fab (click)="onClickOption('maintenance')"
                        style="height:200px;width:200px;background-color:mediumslateblue;" matTooltip="Open VIPCO Maintenance System application">
                    <mat-icon svgIcon="maintenance" style="height:150px;width:150px;margin:auto;"></mat-icon>
                </button>
            </div>
            <div class="mx-1">
                <button mat-fab (click)="onClickOption('sage')"
                        style="height:200px;width:200px;background-color:whitesmoke;" matTooltip="Open VIPCO Extends SageX3 System application">
                    <mat-icon viewBox="0 0 60 55" svgIcon="sage" style="height:200px;width:200px;margin:auto;"></mat-icon>
                </button>
            </div>
        </div>
        <div class="center-page my-1">
            <div class="mx-1">
                <button mat-fab (click)="onClickOption('planning')"
                        style="height:200px;width:200px;background-color:lightcoral;" matTooltip="Open VIPCO Planning System application">
                    <mat-icon svgIcon="planning" style="height:150px;width:150px;margin:auto;"></mat-icon>
                </button>
            </div>
            <div class="mx-1">
                <button mat-fab (click)="onClickOption('safety')"
                        style="height:200px;width:200px;background-color:forestgreen;" matTooltip="Open VIPCO Safety System application">
                    <mat-icon svgIcon="safety" style="height:180px;width:200px;margin:auto;"></mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>