.datatable-scrolling {
    /*height: calc(100vh - 165px);*/
    // height:100%;
}

:host /deep/ .datatable-scrolling .progress-linear {
    position: fixed !important;
    bottom: 0px;
}

.upper-tool {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-container {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}
:host /deep/ .is-all {
    background-color: transparent;
    // color: red !important;
}

:host /deep/ .is-cancel {
    background-color: red;
    // color: red !important;
}

:host /deep/ .is-require {
    background-color: darksalmon;
    // color: red !important;
}

:host /deep/ .is-wait {
    background-color: gold;
    // color: gold !important;
}

:host /deep/ .is-complate {
    background-color: lightgreen;
    // color: lightgreen !important;
}
