<div class="row justify-content-md-center h-100">
    <div class="col col-lg-2">
    </div>
    <div class="col-mat-auto">
        <div *ngIf="user" class="card" style="width: 30rem;">
            <form [formGroup]="loginForm" id="loginForm">

                <div class="card-header text-success">
                    <h4 class="card-title">Login</h4>
                    <h6 class="card-subtitle mb-2 text-muted">this vipco machine system need authentication user.</h6>
                </div>
                <div class="card-body">
                    <!-- Row 1 -->
                    <div class="input-group">
                        <span class="input-group-addon alert-primary">
                            <i class="fa fa-user"></i>
                        </span>
                        <input class="form-control" type="text" name="username" placeholder="username" required autofocus
                               id="UserName" formControlName="UserName" />
                    </div>
                    <!--<validation-messages [control]="loginForm.controls.UserName"></validation-messages>-->
                    <br>
                    <!-- Row 2 -->
                    <div class="input-group">
                        <span class="input-group-addon alert-primary">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input class="form-control" type="password" name="password" placeholder="password"
                               id="PassWord" formControlName="PassWord" />
                    </div>
                    <!--<validation-messages [control]="loginForm.controls.PassWord"></validation-messages>-->
                </div>
                <div class="card-footer chlid-edit-container-center">
                    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" (click)="onLogin()">
                        Login
                    </button>
                    <button type="button" class="btn btn-info mx-2" [routerLink]="['/register']" routerLinkActive="active">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col col-lg-2">
    </div>
</div>