<div *ngIf="displayValue,else elseBlock">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <b>Holiday</b>
            </ng-template>
            <div class="view-container">
                <div class="row my-1">
                    <div class="my-label">
                        Holiday Name :
                    </div>
                    <div class="my-value">
                        {{displayValue.HolidayName || "-"}}
                    </div>

                    <div class="my-label">
                        Holiday Date :
                    </div>
                    <div class="my-value">
                        {{(displayValue.HolidayDate | date:'dd/MM/yyyy') || "-"}}
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #elseBlock>
    <mat-progress-bar mode="indeterminate" style="margin-top:50px;"></mat-progress-bar>
    Waiting... for loading
</ng-template>
